// SPDX-License-Identifier: GPL-2.0-only or MIT
/*
 * Device Tree file for the AM62L3 Starter Kit
 * Copyright (C) 2024 Texas Instruments Incorporated - https://www.ti.com/
 */

/dts-v1/;

#include "k3-am62l3.dtsi"

/ {
	compatible = "ti,am62l3-evm", "ti,am62l3";
	model = "Texas Instruments AM62L3 EVM";

	aliases {
		serial2 = &main_uart0;
		mmc1 = &sdhci1;
	};

	chosen {
		stdout-path = &main_uart0;
	};

	memory@80000000 {
		/* 2G RAM */
		reg = <0x00000000 0x80000000 0x00000000 0x80000000>;
		device_type = "memory";
		bootph-all;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		secure_tfa_ddr: tfa@80000000 {
			reg = <0x00 0x80000000 0x00 0x200000>;
			no-map;
			bootph-all;
		};

		secure_ddr: optee@0x80100000 {
			reg = <0x00 0x80200000 0x00 0x800000>;
			no-map;
		};
	};

	clk_xin: clock {
		bootph-all;
		compatible = "fixed-clock";
		clock-frequency = <5000000>;
		#clock-cells = <0>;
	};
};

&pinmux {
	ospi0_pins_default: ospi0-default-pins {
		pinctrl-single,pins = <
			AM62PX_IOPAD(0x003c, PIN_OUTPUT, 0) /* (D22) OSPI0_CLK */
			AM62PX_IOPAD(0x0068, PIN_OUTPUT, 0) /* (C20) OSPI0_CSn0 */
			AM62PX_IOPAD(0x0074, PIN_OUTPUT, 0) /* (C23) OSPI0_CSn3 */
			AM62PX_IOPAD(0x0048, PIN_INPUT, 0) /* (C22) OSPI0_D0 */
			AM62PX_IOPAD(0x004c, PIN_INPUT, 0) /* (D21) OSPI0_D1 */
			AM62PX_IOPAD(0x0050, PIN_INPUT, 0) /* (E23) OSPI0_D2 */
			AM62PX_IOPAD(0x0054, PIN_INPUT, 0) /* (D23) OSPI0_D3 */
			AM62PX_IOPAD(0x0058, PIN_INPUT, 0) /* (F21) OSPI0_D4 */
			AM62PX_IOPAD(0x005c, PIN_INPUT, 0) /* (F19) OSPI0_D5 */
			AM62PX_IOPAD(0x0060, PIN_INPUT, 0) /* (G20) OSPI0_D6 */
			AM62PX_IOPAD(0x0064, PIN_INPUT, 0) /* (F20) OSPI0_D7 */
			AM62PX_IOPAD(0x0044, PIN_INPUT, 0) /* (E22) OSPI0_DQS */
			AM62PX_IOPAD(0x0040, PIN_INPUT, 0) /* (E18) OSPI0_LBCLKO */
		>;
	};
};

&main_uart0 {
	current-speed = <115200>;
	status = "okay";
};
&sdhci1 {
	bootph-all;
	status = "okay";
	clocks = <&clk_xin>;
	clock-names = "clk_xin";
};

&ospi0 {
	status = "okay"; // enable me for testing OSPI
	pinctrl-names = "default";
	pinctrl-0 = <&ospi0_pins_default>;


	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0x0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
		spi-max-frequency = <25000000>;
		cdns,tshsl-ns = <60>;
		cdns,tsd2d-ns = <60>;
		cdns,tchsh-ns = <60>;
		cdns,tslch-ns = <60>;
		cdns,read-delay = <0>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "ospi.tiboot3";
				reg = <0x0 0x80000>;
			};

			partition@80000 {
				label = "ospi.tispl";
				reg = <0x80000 0x200000>;
			};

			partition@280000 {
				label = "ospi.u-boot";
				reg = <0x280000 0x400000>;
			};

			partition@680000 {
				label = "ospi.env";
				reg = <0x680000 0x40000>;
			};

			partition@6c0000 {
				label = "ospi.env.backup";
				reg = <0x6c0000 0x40000>;
			};

			partition@800000 {
				label = "ospi.rootfs";
				reg = <0x800000 0x37c0000>;
			};

			partition@3fc0000 {
				label = "ospi.phypattern";
				reg = <0x3fc0000 0x20000>;
			};
		};
	};
};
