// SPDX-License-Identifier: GPL-2.0-only or MIT
/*
 * Device Tree file for the AM62L wakeup domain peripherals
 * Copyright (C) 2024 Texas Instruments Incorporated - https://www.ti.com/
 */

&cbass_wakeup {
	wkup_conf: bus@43000000 {
		bootph-all;
		compatible = "simple-bus";
		reg = <0x00 0x43000000 0x00 0x20000>;
		#address-cells = <1>;
		#size-cells = <1>;
		ranges = <0x0 0x00 0x43000000 0x20000>;

		chipid: chipid@14 {
			bootph-all;
			compatible = "ti,am654-chipid";
			reg = <0x14 0x4>;
		};
	};

	pinmux: pinctrl@4084000 {
		bootph-all;
		compatible = "pinctrl-single";
		reg = <0x00 0x4084000 0x00 0x8000>;
		#pinctrl-cells = <1>;
		pinctrl-single,register-width = <32>;
		pinctrl-single,function-mask = <0xffffffff>;
	};
};

